html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrapperCalculator {
    border: 1px solid black;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#topPart {
    width: 100%;
    height: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(205, 211, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
#numberInput {
    width: 90%;
    height: 45%;
    border-radius: 5px;
    border: 1px solid rgb(95, 95, 95);
    font-size: 2rem;
}

#bottomPart {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 211, 223);
}
#wrapperNumbers {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
}
.row {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: 1.5rem;
    border-radius: 25px;
}
.row > div:hover {
    background-color: rgb(205, 211, 223);
    cursor: pointer;
}
#equals {
    background-color: rgba(108, 248, 108, 0.541);
}
#equals:hover {
    background-color: rgba(55, 194, 55, 0.541);
}
#clear {
    background-color: rgba(250, 108, 108, 0.822);
}
#clear:hover {
    background-color: rgb(209, 72, 72);
}